
button:hover {
  cursor: pointer;
}

panel {
  width: 100%;
  height: calc(100vh - 95px);
	margin: 0;
  padding: 20px 0 0 0;
  border: 1px dashed rgba(255, 0, 255, 0.0);
}


.top-section {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #cccccc;
}

.top-section-logo-wrapper {
	position: relative;
	width: 150px;
	height: 150px;
}

.top-section-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
}

.bottom-section {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	width: 100%;
}

.content-wrapper {
  width: 100%;
}


.line-break {
  flex-wrap: wrap;
}

.nogrow {
  flex: 0 0 auto;
}

.noshrink {
  flex: 0 0 auto;
}

.row {
  align-items: center;
  text-align: center;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.full-width {
  width: 100%;
}
